@media (min-width: 200px) {
    .motd {
        font-size: 10%;
        margin-top: 35%;
    }

    img {
        display: none;
    }

    .navbar {
        font-size: 55%;
    }
}

@media (min-width: 300px) {
    .motd {
        font-size: 110%;
        margin-top: 35%;
    }

    img {
        display: block;
        margin-left: 35%;
    }

    .navbar {
        margin-left: 10%;
        font-size: 65%;
    }
}

@media (min-width: 400px) {
    .motd {
        font-size: 110%;
        margin-top: 35%;
    }

    img {
        display: block;
        margin-left: 37%;
    }

    .navbar {
        margin-left: 20%;
        margin-top: -10%;
        font-size: 65%;
    }
}

@media (min-width: 500px) {
    .motd {
        font-size: 130%;
        margin-top: 20%;
    }

    img {
        display: block;
        margin-left: 37%;
    }

    .navbar {
        margin-left: 13%;
        margin-top: -10%;
        font-size: 100%;
    }
}

@media (min-width: 672px) {
    .motd {
        font-size: 230%;
        margin-top: 20%;
    }

    img {
        display: block;
        margin-left: 3%;
        margin-top: 4%;
    }

    .navbar {
        margin-top: -1%;
        font-size: 90%;
        margin-left: -10%;
    }
}

@media (min-width: 1024px) {
    .motd {
        font-size: 230%;
        margin-top: 20%;
    }

    img {
        display: block;
        margin-left: 3%;
        margin-top: 1%;
    }

    .navbar {
        margin-left: 13%;
        margin-top: -6%;
        font-size: 100%;
    }
}

@media (min-width: 1080px) {
    .motd {
        font-size: 230%;
        margin-top: 20%;
    }

    img {
        display: block;
        margin-left: 3%;
        margin-top: 1%;
    }

    .navbar {
        margin-top: -6%;
        font-size: 90%;
        margin-left: -5%;
    }
}

@media (min-width: 1920px) {
    .motd {
        font-size: 230%;
        margin-top: 20%;
    }

    img {
        display: block;
        margin-left: 3%;
        margin-top: 1%;
    }

    .navbar {
        margin-left: 13%;
        margin-top: -6%;
        font-size: 100%;
    }
}